name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  phpunit:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          tools: composer:v2
          extensions: mbstring, intl
      - uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: composer-
      - run: composer validate --strict
      - run: composer install --no-interaction --prefer-dist --no-progress --optimize-autoloader --no-scripts
      - name: CS-Fixer
        run: vendor/bin/php-cs-fixer fix --dry-run --diff
      - name: PHPStan
        run: vendor/bin/phpstan analyse
      - name: PHPUnit
        run: vendor/bin/phpunit --colors=always
